
   <div style="border: 1px solid red;" class="date container-fluid">

                <div    style="background-image: url('/assets/images/animaux/amayas.jpeg');
                            background-position: top left;
                            background-repeat: no-repeat;
                            width: 280px;
                            height: 150px;"  
                        class="slide"></div>
                
                <div    style="background-image: url('/assets/images/animaux/azrem.jpeg');
                        background-position: top left;
                        background-repeat: no-repeat;
                        width: 280px;
                        height: 150px;"  
                        class="slide"></div>

                        <div    style="background-image: url('/assets/images/animaux/taghadt.jpeg');
                        background-position: top left;
                        background-repeat: no-repeat;
                        width: 280px;
                        height: 150px;"  
                        class="slide"></div>


                        <div    style="background-image: url('/assets/images/animaux/aghilas-2.jpeg');
                        background-position: top left;
                        background-repeat: no-repeat;
                        width: 280px;
                        height: 150px;"  
                        class="slide"></div>


                        <div    style="background-image: url('/assets/images/animaux/aghilas.jpeg');
                        background-position: top left;
                        background-repeat: no-repeat;
                        width: 280px;
                        height: 150px;"  
                        class="slide"></div>

                        <div    style="background-image: url('/assets/images/animaux/fenec.jpeg');
                        background-position: top left;
                        background-repeat: no-repeat;
                        width: 280px;
                        height: 150px;"  
                        class="slide"></div>


                        <div    style="background-image: url('/assets/images/animaux/lfil.jpeg');
                        background-position: top left;
                        background-repeat: no-repeat;
                        width: 280px;
                        height: 150px;"  
                        class="slide"></div>


                        <div    style="background-image: url('/assets/images/animaux/aqjun.jpeg');
                        background-position: top left;
                        background-repeat: no-repeat;
                        width: 280px;
                        height: 150px;"  
                        class="slide"></div>


</div>
 






























<div class="footer-container">

        <div class="container">
                <div class="row">

                </div>
                <div class="row">

                    <div class="col">
                         <div class="info">
                            <a href="3">Corporate Information</a> 
                            <a href="3">Privacy Policy</a> 
                            <a href="3">Terms and condition</a> 
                            <br><br>
                            &#9400; Isura 2019   
                        </div>        
                    </div>

                    <div class="col">
                        <div class="info">
                                <a href="3">Contact</a>
                                <a href="3">Text de vitesse</a>
                            <a href="3">Hepl center</a>
                            <a href="3">Media center</a>
                            
                        </div>
                    </div>

                    <div class="col">
                            
                    </div>

                    <div  class="col">
                        <div class="social">

                            <a href="#">
                                <i style="font-size: 45px;"class="fa fa-youtube-square"></i>
                            </a>
                            <a href="#">
                                    <i style="font-size: 45px;"class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#">
                                    <i style="font-size: 45px;"class="fa fa-instagram"></i>
                            </a>


                                <br>
                        </div>




                        <div class=" " ng-show="appstore || playstore">
                            <ul style=" padding: 0; margin: 0;"  class="foot-app" >
                                
                                <li style="list-style:none; " ng-if="appstore"><br>
                                    <a target="_blank" href="{{appstore}}">
                                        <img style="width: 140px;" 
                                             src="assets/images/ios-app.png"></a>
                                </li>
                                
                                <li style="list-style:none; margin-top:10px;"  ng-if="playstore">
                                    <a target="_blank" href="{{playstore}}">
                                        <img style="width: 140px;" 
                                             src="assets/images/android.png"></a>
                                </li>
                            </ul> 
                        </div>






 
                        

                </div>
                    <div class="col">
                            <div style="background-color: black; 
                                        display: block ;
                                        border: 1px solid #333333; 
                                        
                                        float: right;" 
                                        ngbDropdown class="d-inline-block">

                                    <button style="background-color: black; 
                                                  color: #999999;
                                                  width: 158px;
                                                  text-align: right;
                                                  font-size: 130%;"  
                                                  class="btn btn-outline-primary" id="dropdownBasic1" 
                                        ngbDropdownToggle>
                                        <i style="float:left; font-size: 30px;" class="fa fa-globe"></i> Tutlayt&nbsp;&nbsp;</button>
                                   
                                    <div style="border: 1px solid #333333; 
                                                margin :0; padding:0;
                                                font-size: 120%; 
                                                background-color: black;"  ngbDropdownMenu aria-labelledby="dropdownBasic1">

                                         <button style="color: #999999;" ngbDropdownItem>Taqbaylit</button>
                                         <button style="color: 999999;" ngbDropdownItem>English</button>
                                         <button style="color: 999999;" ngbDropdownItem>Français</button>
                                    </div>
                            </div>

                            <br><br>        
                </div>
              </div>
    
</div>


