<div class="container-fluid"
        style="background-color:black; 
               display: block; 
               height: 770px; 
               ">

        <video width="100%" height="100%" controls>
                <source src="/assets/images/videoplayback.mp4" type="video/mp4">
                
                Your browser does not support the video tag.
        </video>

        <div style="position:absolute;
                    top:250px;
                    left:0px;
                    display: block;
                    margin-left:8%;
                    color: red;"
                    class="">

        <img  src="/assets/images/lumucu_4-1.png" alt=""><br>
        <div style="width: 45%;
                    display: block;
                    color: white;
                    font-size: 135%;
                    font-family: Arial;
                    margin-top: 10px;
                    line-height: 1.6;
                    " class=""> 
                    Lancez votre carrière avec OpenClassrooms et bénéficiez de 
                    notre politique d'Emploi Garanti ! Absolument ...
        </div>

        <div style="width: 45%;
                    display: block;
                    width: 120px;
                    border: 1px solid #eeeeee;
                    background-color: rgba(0, 0,0, 0.4);
                    color: rgba(0, 0, 0, 0.8);
                    font-size: 135%;
                    font-family: Arial;
                    margin-top: 10px;
                    line-height: 1.6;
                    padding: 5px;
                    " class=""> 
                   &nbsp;  <i style="font-size: 22spx; color:white;" 
                   class="fa fa-play"></i>&nbsp;   
                   <span style="color: #eeeeee; font-family: Georgia, 'Times New Roman', Times, serif">
                    Play</span>

                    
        </div>
        <i style="border:1px solid #eeeeee;
                  font-size: 26px;
                  top:00%;
            
                border-radius: 50%;
                height: 45px;
                width: 45px;
                margin: 0;
                border: 1px solid eeeeee;
                padding:9px; 
                color:white"
  
                class="glyphicon glyphicon-thumbs-up"></i>

        <i style="border:1px solid #eeeeee;
                font-size: 26px;
                top:00%;
          
              border-radius: 50%;
              height: 45px;
              width: 45px;
              margin: 0;
              border: 1px solid #eeeeee;
              padding:9px; 
              color:white"

              class="glyphicon glyphicon-thumbs-down"></i>
</div>   

<hr style="clear: both;">


